*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo img{
    width: 80px;
}
.anchor-tag a {
    color: black;
    text-decoration: none;
    padding-left: 25px;
    font-weight: 500;
}

.anchor-tag a:hover{
    color: #7510F7;
}

.search{
    border-color: #7510F7;
   /* border: none; */
   outline: none;
    height: 35px;
}
.learn-button{
    width: 120px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #5BE9B9;
    color: white;
    background-color: #141C3A;
    font-weight: 500;
    margin-top: 15px;

}
.learn-button:hover{
    background-color: #5BE9B9;
    color: #141C3A;
}
.hero-color{
    background-color: #141C3A;
}
.hero-height{
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}
.card img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.card:hover{
    border: 2px solid #7510F7;

}
.padding-about{
    padding-top: 100px;
    padding-bottom: 100px;
}
.planing-section{
    /* padding-top: 50px; */
    background-color: #141C3A;
    color: white;

}
.card-pricing img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.trusted-clients{
    background-color: #141C3A;
    color: white;
}
.fot-logo img{
    width: 40%;
}
.fot-background{
    margin-top: 100px;
    background-color: #f2f6ff;
    color: black ;
}
.foot-h3 h3{
    color: #7510F7;
}